<h1><%= @card.title %></h1>
<p><%= @card.description %></p>
<p>Priority: <%= @card.priority %></p>
<p>Status: <%= @card.status %></p>
<p>Type: <%= @card.card_type %></p>
<%= link_to "Edit", edit_card_path(@card) %>
